[2015-05-29 17:09] wonook opened #8 "Make develop branch as the default branch for this repository"
I think it would be good to make the staging branch as a default branch (which is currently just a copy of the master branch), so that we can keep the master branch separate, and make the staging branch as our "development branch" before we check if the application works correctly.

We'll have to send pull requests for each issues to the staging branch from our issue-related branches.

@isuriupeks

[2015-05-29 17:10] wonook opened #9 "Fixing the folder structure"
We'll have to take things out of the `PLTCode` directory into our repository's root directory.

[2015-05-29 17:12] wonook commented on #9
@isuriupeksha , I think I've already done this on the other branch, but would it be fine with the work that you have already done? I'm worried about the merge conflicts.
Probably it would be better if we could review and merge your work before I can re-do this.

[2015-05-29 17:13] wonook opened #10 "Set up ActiveAdmin"
[Link to ActiveAdmin](https://github.com/activeadmin/activeadmin)

[2015-05-29 17:14] wonook opened #11 "Set Up ReactJS"
I think we can use the [react-rails](https://github.com/reactjs/react-rails) gem.

[2015-05-29 17:16] wonook opened #12 "Taking care of the Pull Requests"
I see there are some duplicated PRs as well as some that seem useful to some extent. We'll have to check with these first before we actually get to work.

[2015-05-29 17:28] wonook commented on #12
I've left some comments and closed them. You can re-open them if they seem to be suitable for our project.

[2015-05-30 05:55] isuriupeksha commented on #9
Ok, I will move the directory. Currently I am working some updates. I will send a merge request tomorrow.

[2015-05-30 06:04] wonook commented on #9
Yeah. Be sure to clean out your commits a bit and divide up the pull requests so that we can review things in adequate chunks.

[2015-05-30 09:53] isuriupeksha commented on #10
I don't think we need to use ActiveAdmin for this project. ActiveAdmin doesn't support responsive layouts for mobile. Also it use `<table>` HTML structure which is not fit to mobile view.

Just check Google material design cards. http://www.google.com/design/spec/components/cards.html

[2015-05-30 10:20] wonook commented on #10
I'm not doing this for mobile. This is a tool that enables an administrator to manage elements and objects of particular models, since it wouldn't be an easy job for non-developers to have access to the rails console and manipulate objects.

[2015-05-30 10:39] wonook commented on #9
@isuriupeksha you shouldn't really copy&paste stuff from others' branches..
By the way, for us to cooperate, you should really organize things up a little bit, so that it is review-able..
Be sure to send `Pull Requests` that are related to some `issues` in adequate chunks, not in huge piles of commits.

[2015-05-30 10:55] isuriupeksha commented on #9
@wonook What you mean `copy&paste`? I push my changes to remote branch. And I have been developed many features in my list.

[2015-05-30 11:27] isuriupeksha commented on #10
Ok, it is good for the development environment only.

[2015-06-02 13:21] wonook commented on #9
nvm take a look at the comments on the PR. I'll merge it once the comments are applied.

[2015-06-02 13:23] wonook opened #15 "Set up continuous integration"
I think it would be more convenient to have some continuous integration set up (i.e. Jenkins, travis) for further development.

[2015-06-02 13:24] wonook opened #16 "Set up automatic deployment"
Capistrano can be used for this issue

[2015-06-03 03:38] rosariorobinson commented on #8
Actually, to keep consistency with other repos, I've added develop.  Please use this instead. Thanks.

[2015-06-03 03:38] rosariorobinson commented on #8
I'm also going to setup Travis CI for this repo. Please give me until the end of the week, 5 June 2015.

[2015-06-04 02:49] wonook opened #17 "will_paginate or kaminari?"
I have taken a look at both of their GitHub repos, and I'm concerned that `will_paginate` isn't being maintained at the time. You can take a look at them yourself: [will_paginate](https://github.com/mislav/will_paginate), [kaminari](https://github.com/amatsuda/kaminari).
`will_paginate` has 59 open issues and 33 pending PRs, whereas `kaminari` has 13 of each. Also, `will_paginated` had been commit

[2015-06-04 02:49] #12 closed

[2015-06-04 02:50] #9 closed

[2015-06-04 02:52] wonook commented on #8
Got it. I'll remove the staging branch.
I've opened an issue about CI #15 , I believe that discussions about Travis can be done there!

[2015-06-04 02:55] wonook opened #18 "Fixes for upgrading rails version"
There had been some changes in upgrading Rails from 4.1 to 4.2 that haven't yet been applied to the application. I'll apply these changes to our application.

[2015-06-04 05:22] wonook commented on #8
@rosariorobinson I think it would be more convenient if you could make the `develop` branch as our default branch of this repository at the repository settings, since we'll be making our pull requests there!

[2015-06-04 05:24] wonook opened #20 "Set up JSON API for Rails"
We'll have to separate out Rails and ReactJS in the future, and use Rails as our JSON API.
Applying [rails-api](https://github.com/rails-api/rails-api) would make Rails more lightweight.

[2015-06-05 09:45] isuriupeksha commented on #17
Both gem are working fine. Seems now `kaminaari` is doing great. You can update the gem.

[2015-06-05 09:59] isuriupeksha commented on #20
We don't need to separate application `API` using that gem. We can simply integrate  `API` using ActiveModel::Serializers and authenticate HTTP Basic Authentication system.
I have already working on `API` integrate because it is in my this week schedule.

[2015-06-06 10:56] wonook commented on #15
@rosariorobinson Will I have to add `.travis.yml` to activate travis?

[2015-06-09 19:09] wonook commented on #15
@rosariorobinson I've noticed you have added the file on our `master` branch! Can we set one up for out `develop` branch as well? I guess it can be done by merging `master` branch into `develop`.
Please give me a confirmation that there's no problem with doing this if it is okay.

[2015-06-09 19:16] wonook commented on #15
@rosariorobinson I've noticed you have done it a few hours ago. I'll close the issue.

[2015-06-10 05:02] wonook commented on #15
I've specified the ruby version using the `.ruby-version` file. I'll also have to add settings for `database.yml`

[2015-06-10 05:45] wonook commented on #15
I've done setting it up. There are some failed tests that are due to @isuriupeksha 's work since March

[2015-06-11 12:49] #18 closed

[2015-06-11 12:49] #15 closed

[2015-06-12 11:30] rosariorobinson commented on #8
I think we're all set on this issue. Develop branch default and travis ci set up.

[2015-06-12 11:30] #8 closed

[2015-06-12 11:32] rosariorobinson commented on #10
@abelards any input here?

Developing for long-term is good practice. We're not considering mobile right now, but that is the thinking for those out in the field and want to take a quick photo and uploading to the application right from the phone. PC volunteers are more apt to have their phone with them than their laptops, particularly in rural area.

Good discussion to have.

[2015-06-12 11:36] rosariorobinson commented on #17
Let's be careful that we are using gems that are regularly being maintained. We had this issue on another project and cause much havoc on coding and change configuration. Let's continue to think about long term and not just what we can do right now.

[2015-06-12 12:22] abelards commented on #10
I actually don't see a conflict there, only two nice improvements complementing each other.

It is fully possible to have an admin backend AND a cool view for users.
@wonook is doing the first, @isuriupeksha is doing the second.
Their work will not conflict with each other, especially if @wonook sets up different routes.

---

ActiveAdmin will lower cost for new features, and lower the maintenance

[2015-06-13 19:45] wonook commented on #8
:+1:  Awesome.

[2015-06-14 06:49] isuriupeksha opened #23 "User interface design"
Hi All,

I have done few design compositions for photos section including mobile views.

1. Photos (desktop)
![Photos (desktop)](https://raw.githubusercontent.com/systers/language-translation/c2fcacbf6a469535e80f83b1726cc4e54ca17dfa/docs/design/home.png)

1. Photos (mobile)
![Photos (desktop)](https://raw.githubusercontent.com/systers/language-translation/c2fcacbf6a469535e80f83b1726cc4e54ca17dfa/d

[2015-06-15 02:25] isuriupeksha opened #25 "`username` input filed is requited?"
Currently user can only login using username. Do we really want to use `username`? Because we use `email`, ` first_name` and `last_name` for the user identification. So we can use `email` and `password` input field to login to the system.  What is the your suggestion?

[2015-06-15 02:42] isuriupeksha commented on #25
I am integrating user invitation feature into the members management section. We can send a invitation by using `email` only. But when user accept the invitation, we need to provide a additional input field `username` while user enter password confirmation. I think, it is a additional input field on the accept invitation form.

[2015-06-15 09:28] abelards commented on #23
It's beautiful, can't wait to have these in real CSS in the project :) :+1:

[2015-06-15 13:18] SaumyaGurtu commented on #25
@isuriupeksha :
1. I'll first tell you what was the reason behind taking 'username' for login. Actually, "Look, feel, functionality & design behaviour should be in sync with other Peace Corps projects." is what we thought. So the UI design was prepared by Vaibhavi Desai last year who worked for Malaria Prevention Application and we used the same forms and application behaviour. For this reason I m

[2015-06-15 13:27] SaumyaGurtu opened #27 "Working offline and updating automatically + Testing"
Guys, what are we doing about this issue?

[2015-06-15 13:59] isuriupeksha commented on #27
*This is from my GSoC proposal*

-------------
Application supports offline capability for photos(articles) section. User can upload picture, english: text, phonetic text. In addition to user can create category and select language to create complete article.

There are many ways available HTML5 offline storage APIs to save data, including images.

1. The `Local Storage` - (http://dev.w3.org/html5

[2015-06-16 06:12] isuriupeksha opened #28 "Removing unwanted migration from the app"
[code]
https://github.com/systers/language-translation/blob/master/PLTcode/db/migrate/20140626003527_remove_username_from_users.rb

@SaumyaGurtu I found this migration to remove `username` from the `users`  table. But the problem is that, `username` attribute haven't created by previous migration files.

So we can remove that.

[2015-06-16 06:28] SaumyaGurtu commented on #28
Please check if devise has already created username.

On Tue, Jun 16, 2015, 11:42 Isuri Upeksha <notifications@github.com> wrote:

[2015-06-16 06:31] isuriupeksha commented on #28
@SaumyaGurtu  Not. `username` haven't created by devise first.

Therefore we can remove following migration as well
`20140625230123_remove_email_from_users.rb`
`20140625230914_add_email_to_users.rb`

Email already in devise migration.

[2015-06-17 13:10] #20 closed

[2015-06-19 11:56] wonook commented on #17
@isuriupeksha
You're the one who have implemented things with it, so I think you will be the one who knows better where it was used. I think it would be more safe if you could replace it.

[2015-06-19 12:04] wonook opened #29 "CanCan, CanCanCan or Pundit?"
A simple discussion about the CanCan gem. It had been originally used by @SaumyaGurtu last year, but as you can see at its [github repo](https://github.com/ryanb/cancan), CanCan hadn't been maintained for almost two years now, and it's been showing some problems with Rails 4 as well (Rails 5 is on the way, so clearing up these kinds of problems seems to be needed).
Now, as an alternative to CanCan

[2015-06-19 12:17] wonook commented on #25
We've had this discussion on slack, but I think having username has more +s than -s. It makes signing in easier, by lifting the need of writing the entire email address every time signing in, and also it lets people find each other on the application easier (when we want to add people as members, etc). I'm sure there are other reasons as well, but I don't think there's a need for getting rid of pe

[2015-06-19 12:20] wonook commented on #28
Be sure to drop & create & migrate a separate test db and try it before sending a pull request for this. It will be a big problem if things get tangled up with the db.

[2015-06-19 12:24] wonook commented on #27
I think that it would be better if we had a remote db or some storage (probably AWS RDBMS and S3) where we can back up files from time to time. It'll be extremely inconvenient if we had to make everything from the ground up every single time we install the application.

[2015-06-19 12:24] isuriupeksha commented on #29
We can go with `CanCanCan` gem.

[2015-06-19 12:29] isuriupeksha commented on #28
@wonook
By removing above migration, you will not get any issue if you setup database again. If you carefully check this migration (https://github.com/systers/language-translation/blob/master/PLTcode/db/migrate/20140626003527_remove_username_from_users.rb) you may understand what is the issue.

[2015-06-19 12:46] isuriupeksha opened #30 "Login at organization level (this could potentially be something other organizations can use)"
This well explained by @SaumyaGurtu (copied from #slack)

------------
Organisation is basically a country level. Forex micronesia this country might have many sites which peace corps people technically call them as posts. Volunteers are allotted specific posts. Each post have local people who know the target language , for ex chuukese , very well.

Similar to micronesia there are many countries w

[2015-06-19 13:01] wonook commented on #28
Yeah, I've just checked, and some of them I wonder how it got in there in the first time. I'll quickly send a PR regarding this issue as there aren't any branches yet handling this issue.

[2015-06-19 13:03] wonook commented on #28
by the way, I'm also curious about the roles. Is there any reason for converting the roles to a integer than as string which is default?

[2015-06-19 13:09] wonook commented on #28
Check the PR and provide a quick feedback please!

[2015-06-19 13:10] wonook commented on #29
It seems as the optimal solution for now, since it enables us to make full use of CanCan without changing the syntaxes, etc. too much. I'll collect the mentors' opinions and apply the changes soon.

[2015-06-19 13:19] wonook commented on #30
I think it would be nice if we could have a list of 'organizations' at the main page, for the users to choose their organization from the list and do whatever they want to do in that organization. If the user is signed in (by enabling automatic sign-in or remember me functionality), then the user can be automatically redirected to the organization that they belong to.
Still, I have some concerns r

[2015-06-19 14:47] isuriupeksha commented on #28
@wonook great. I remember when I run the migration, I got that `username` error. But I keep it way from the migration list and setup the application.

[2015-06-19 15:33] isuriupeksha commented on #28
@wonook Regarding the `role` --> `role_id` and why I convert to integer

---------

Concept: *Relational Data*

Since we have used relational models, we know that how relational database structures work.

Essentially, it does everything with id's (called a primary_key). This allows different models to call data from related models by calling the respective ID's. That's why I had to add role_id to

[2015-06-20 16:15] #28 closed

[2015-06-20 16:15] #29 closed

[2015-06-21 10:39] wonook opened #32 "Errors due to change in role -> role_id"
Due to @isuriupeksha's change in role -> role_id in the users, the seed files do not work anymore.

[2015-06-21 13:20] wonook commented on #32
Seeding files, signing up are some problems that I detected so far.

[2015-06-21 13:30] isuriupeksha commented on #32
@wonook let me check and post a fix.

[2015-06-21 18:48] isuriupeksha opened #33 "Articles categorize implementation"
Currently user has to add category name (`string`) value every time the category when user create a article. So I am going to implement the category management feature. so that user can select existing category or add new category when create new article.

It associated by  `article has_one category`.

-------------

Concerns:
1. Categories can only created, update and delete by `Admins`
2. Others

[2015-06-22 14:39] wonook commented on #32
I guess I'll just get rid of the `role` column from the `user` model. Roles are supposed to be attached between a user and the organization the user belongs to, so this won't be a problem anymore I guess. Still, later when you post something be just a little more careful about these side-effects.

[2015-06-22 14:42] wonook commented on #30
I'll delete the `role` column from the `user` model and use the `Rolify` gem to attach 'roles' to each 'users' on the corresponding 'organizations'.
`Rolify` works quite gracefully with `CanCanCan`, so it wouldn't be a problem.
This implementation closes #32.

[2015-06-22 14:47] wonook commented on #30
About the 'SuperAdmin' I'll create another model called `AdminUser`, which is automatically generated by the `ActiveAdmin` gem. The users that belong to `AdminUser` model will be able to have full access to all materials through `ActiveAdmin` interface. This was the part that I was having trouble with, trying to fit ActiveAdmin into this application (#10), but I guess this plan will get everything

[2015-06-22 14:48] wonook commented on #17
@isuriupeksha
Will you have a look into this issue?

[2015-06-22 14:50] wonook commented on #25
I guess this one's solved. We'll leave the username and the corresponding migrations.

[2015-06-22 14:50] #25 closed

[2015-06-22 15:43] isuriupeksha commented on #30
I don't think, we really need `ActiveAdmin` gem for this application. Since we need one `supperAdmin` as mentioned by @SaumyaGurtu, all record can be managed by `supperAdmin` in `User` model.

[2015-06-22 17:42] wonook commented on #30
Do you know what the gem does?
I think it will be a neat solution for organizing the application for a super-administrator. Without it, we'll have to come up with all the solutions for displaying and managing information for that single person. Let's not reinvent the wheel.

[2015-06-22 17:49] isuriupeksha commented on #30
Yes, this gem also can manage all the record updating, deleting or adding records all models. We do the same thing now. `Admin` user can manage all photos, and other records edits and delete. Once we introduce `super-admin`, it will allows to manage all records by changing authorization using cancan.

By adding this gem, it is for me just like `phpmyadmin` integration.

[2015-06-22 17:52] isuriupeksha commented on #30
What Admin panel is about the reports.
Something like this,
1. what is the post frequent.
2. In with organization which created posts amounts.
3. Activity log
etc...

[2015-06-23 15:27] isuriupeksha opened #35 "How the Posts & Sites works in PLT app?"
PLT app already have `Posts` and `Sites` section implemented. But `Posts` has a associated with `User` model. Therefore in the `User` new or edit form, it named as `Location` select box.

`Sites` also the same. It is associated with the `Posts` model only. So can you simply describe, that how it work in the app?

[2015-06-23 15:42] isuriupeksha opened #36 "Activity stream for article"
I would like to add "Article activity stream" new feature to the app. This may help to keep record a log. And we can make sure who is the responsible for update, create and delete `Articles`.

Welcome your suggestions!

[2015-06-23 15:58] isuriupeksha opened #37 "Manage single article versioning - new feature implementation"
When many users update articles, it may happen mistakes. So I would like to introduce article revisions management feature to the article section.

There is a gem name `paper_trail` (https://github.com/airblade/paper_trail) to enable versioning.

Welcome your suggestions!

[2015-06-23 16:02] isuriupeksha opened #38 "Commenting & keeping notes for a particular article - new feature"
Team members may want to  comments or add notes to an article (photo) while publish the article.
Once members add comment or note, it will receive as message via email to the inbox.

If a user wants to comment on an article, he/she needs to log in by clicking the direct URL mentioned in the email. This feature will help to improve the content of the translations.

Welcome your suggestions!

[2015-06-23 16:10] isuriupeksha opened #39 "Article's state transitions"
Once members posting articles, it should go through verifying process.

1. All posted article in `draft` state by users.
2. Then editor or admin do translating language. At the moment, user can change the article state to `reviewing` state.
3. It everything is fine, we can change articles to `publish` state.

By adding this feature, members know that what are the published and unpublished articles

[2015-06-24 07:51] wonook commented on #38
particur --> particular

[2015-06-24 08:02] abelards commented on #36
Looks nice and in the current trend of apps.
I'll let Systers tell us if that's a useful feature people would actually use or not.

If we choose to go for it, it's pretty easy to log who created or updated things.
Logging deletions is a bit harder, not technically but as a UX choice: you'd have a "deleted" list?

[2015-06-24 08:05] abelards commented on #39
That'd be nice but perhaps complicated. It's very nice to learn and practice though :)

[2015-06-24 08:13] abelards commented on #38
I don't really get who gets what mail, could you elaborate on that?
I see 3 main kinds of audience: "author", "last editor", "whoever is in the discussion" (or "admins" or...)

If you do this you'll potentially generate a tremendous amount of emails: you then have to implement a way of "subscribing / unsubscribing" to conversations.

Apart from that it's an interesting feature. My customer says:
"

[2015-06-24 13:21] SaumyaGurtu commented on #39
Make sure that you make a new proper documentation of new features and
changes for gsoc 2015. This should be done side by side because later you
might forget the workflow of features. @wonook @isuri

On Wed, Jun 24, 2015, 13:35 Sylvain Abélard <notifications@github.com>
wrote:

[2015-06-24 16:59] isuriupeksha commented on #23
**Member UI**

By default it categories by organizations.

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/Members.png)

[2015-06-25 13:44] rosariorobinson commented on #36
Great feature. We need to keep track of what users do in the app. An assumption that is often made, but glad we're discussing it here and something we need to be sure we are doing across all projects.

Yes please implement.

[2015-06-25 13:49] rosariorobinson commented on #38
Let's keep in mind this project is for Peace Corps volunteers trying to learn a language. How they are learning are through phonetic sounds from native speakers because there is NO written language at this point.

Native speakers are also learning English so how would they know what spell checking is when they are typing.

The ideas are great, but keep your users in mind during development. It's e

[2015-06-25 13:51] rosariorobinson commented on #39
Please see my comments on #38 about staying focused on your user audience.

@wonook @isuriupeksha

[2015-06-25 15:55] abelards commented on #23
Perhaps it's just graphical but if these were mockups, there's a typo:
"Remeber" instead of "Remember me". Cheers!

[2015-06-25 15:58] isuriupeksha commented on #23
@abelards Thanks, I will update
- My English is very bad no :)

[2015-06-25 16:01] abelards commented on #23
I wouldn't dare attack on english!
- typos are very easy to make and that's why we have several pair of eyes looking
- I would never be able to make such a good design myself so I respect that
- I much prefer 90% good to 0% done and we're in for a few more months of work
Cheers ;)

[2015-06-25 16:11] isuriupeksha commented on #23
Thanks. I really appreciate you all feedback to complete design compositions for this project. Therefore this is great opportunity for me to improve my design skills.

[2015-06-25 17:11] wonook commented on #35
I think `Posts==Installations` and it's the terms used by Peace Corps members to indicate the teams or groups in particular countries (e.g. Chuukese Post in Micronesia) and `Sites` are places or the teams that the `Post` has control over (e.g. Site1 in the Chuukese Post). I think `Organizations` are going to be nation-wise, (e.g. Micronesia).
Well this was as far as I could understand from the pre

[2015-06-25 17:14] wonook commented on #38
@rosariorobinson
I think there are also `contributors` who have contributed to the application by posting an article!

[2015-06-25 17:16] wonook commented on #37
Hmm, I think this can be an optional feature.
I don't think there will be a lot of revisions on the articles once the pictures and the languages are there.

[2015-06-25 17:18] wonook commented on #39
I think having a column of `bool` deciding whether it's published or not would be enough for this. It'll make it much easier to implement.

[2015-06-25 17:25] wonook opened #40 "Rewriting Roles"
I've rewritten `Roles` using `Rolify`, `CanCanCan`, and `Devise`. Those three gems are now in full coordination.
There had been a few issues with the roles: they weren't completely in harmony, it had been quite hard to read for the developers who will later develop more onto this, and it was quite verbose as well. The issues are fixed now, and it's now ready for the Organizations implementation (#

[2015-06-25 17:30] isuriupeksha commented on #37
yes. this doesn't need to implement.

[2015-06-25 17:30] #37 closed

[2015-06-25 17:43] wonook commented on #33
I think it would be more convenient to have autocompletion for the categories. Some of the default/example categories can be added on the `seeds.rb` file.

[2015-06-25 17:46] isuriupeksha commented on #33
@wonook  Ok, then what are the default categories? I would like to add this JS library to replace default browser select menu. https://select2.github.io/

[2015-06-25 17:48] wonook commented on #30
I'll consider about it a bit. First let's focus on the 'organization' stuff. I think I'll be able to do that without creating another role for the users by using `Rolify`. I'll be able to set an `admin` for each of the organizations as well of for the entire application.

[2015-06-25 18:01] wonook commented on #33
Why not migrate our front-end to `React` instead of adding JS libraries? I think it'll be better the earlier. We can implement your designs there without having to do the work twice. #11
I think we'll be able to do a LOT more things with the front-end of the application by doing that.

[2015-06-25 18:07] isuriupeksha commented on #33
Great! We can discuss later when we develop front-end application. It is not required to add more JS libraries. I know that adding larger JS library for small feature doesn't good. But I like that plugin :)

[2015-06-25 18:08] wonook opened #42 "Assigning Users to Sites"
@isuriupeksha has got rid of the `Volunteer` and the `Contributor` models to combine them all into the `User` model ([refer to this commit for more info](https://github.com/systers/language-translation/commit/01f4352f97a6b264130d705d5b49c95d0ebb6a1e)), which is a good idea, but currently the application doesn't have any methods to display the members of each of the `Sites` (and it's causing an err

[2015-06-25 18:12] wonook commented on #33
Yeah, but with my experience with AngularJS, there are a LOT more libraries out there that makes better use of JS (for autocompletion, etc.). I'll try to do #11 ASAP upon finishing up #30. Then, we'll be able to take advantage of the powerful JS features. Let's put this issue on hold until then. Does that sound okay for you?

[2015-06-25 18:13] isuriupeksha commented on #33
yes. :)

[2015-06-25 18:17] wonook commented on #33
Alright, I'll get my mind on that right after #41 has been merged.

[2015-06-25 18:19] isuriupeksha commented on #30
@wonook  Don't really understand I am interrupting to `ActiveAdmin` feature implementation. But that was my understanding how we can implementing Admin.

When I think about Admin section what should be, it just like charts and reports.

* What are the frequently used articles (by chart)
* Sending time etc..

[2015-06-25 18:44] wonook commented on #30
Oh, I think with the help of `Google Analytics` those charts will be organized pretty nicely. No worries about that I guess.
The reason why I think `ActiveAdmin` is great, is because it enables non-developer users to use functionalities that `$ rails console` provides us without the barrier to learn ActiveRecords. It enables administrators to fix and edit things like `categories`, and other things

[2015-06-25 19:26] wonook opened #43 "Attaching Code-Climate to our repository maybe?"
We have Travis for CI, but afaik, it doesn't provide support for the `code coverage` metrics. I was looking through Travis, and discovered that [CodeClimate](https://codeclimate.com/) cooperates with Travis pretty well. CI is important, but keeping the test coverages up seems equally important for the application according to my past experiences, and I think CodeClimate provides a pretty good solu

[2015-06-25 21:11] abelards commented on #39
I find when we want a `bool` we usually want a timestamp instead, like
`published_at`.
As easy to code, and people often like the extra info: users to know when
it was done,
and when things go wrong for devs to analyse and fix things in the console
:)
Cheers,

On Thu, Jun 25, 2015 at 7:18 PM, Won Wook SONG <notifications@github.com>
wrote:

--
Sylvain Abélard
"J’ai décidé d’être heureux, c’est mei

[2015-06-26 05:23] wonook commented on #39
That's a better idea!

[2015-06-26 05:24] #32 closed

[2015-06-26 05:24] #40 closed

[2015-06-30 07:46] isuriupeksha commented on #23
**New Member** UI for mobile and desktop

![New Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/NewMember.png)

**Mobile**

![New Member Mobile](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/NewMember_mobile.png)

[2015-06-30 08:11] isuriupeksha commented on #36
@rosariorobinson  Thanks your feedback,

@abelards Yes, we cannot include deleted records activities once articles has bee deleted. But I mean,  article may have many audio or videos files attached into one article. So at the moment media files has been deleted, we can include audio and videos deletion on activity list.

[2015-06-30 08:26] abelards commented on #36
OK nice to know, thanks!

On a side-note, I think there are gems to replace "deletion" with a "to the
trashbox"-like feature.
A few years ago that was called `acts_as_paranoid` I guess.
If you go down that road it's very interesting (and has nice UX challenges)

BUT I'm definitely NOT telling you to try!
That's significant work and you might have higher priorities.
See with Rose if she'd like it,

[2015-06-30 12:32] isuriupeksha commented on #23
**Add new article**

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/NewPhoto.png)

[2015-06-30 12:46] isuriupeksha commented on #23
I upload all the comps to the `design_comps` remote branch.

https://github.com/systers/language-translation/tree/design_comps/docs/design

[2015-06-30 16:41] #11 closed

[2015-07-01 09:42] wonook opened #45 "Login Approval column under Users model"
I think it would be better to change the column into a `datetime` rather than having it as a `string` with values 'Yes' and 'Not Yet'.
Currently it doesn't do more than just a `boolean`, only that it takes up more space as a `string`.

[2015-07-02 09:20] wonook commented on #30
I'm waiting for an answer on #35

[2015-07-02 17:32] wonook commented on #35
@rosariorobinson @SaumyaGurtu Please leave a reply on the thread!

[2015-07-03 13:27] #45 closed

[2015-07-04 06:41] isuriupeksha commented on #23
**Show individual photo**

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/ShowPhoto.png)

[2015-07-04 06:52] isuriupeksha commented on #23
**Show individual photo (mobile)**

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/show_photo_mobile.png)

[2015-07-04 07:37] isuriupeksha commented on #23
** Organization**

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/Organizations.png)

[2015-07-04 07:47] isuriupeksha commented on #23
@rosariorobinson @abelards @SaumyaGurtu

I have finished the design compositions for following main sections.

1. User (including mobile)
   -- Login
   -- Registration
   -- User list view categorized by organization
   -- Edit User profile
   -- New user (invitation)

2. Photos (including mobile)
  -- List of photos
  -- Show individual photo
  -- Edit/New photo

3. Organization & Settings
  --

[2015-07-04 07:50] isuriupeksha commented on #23
@rosariorobinson
You can find all uploaded the all new comps by following URL;

https://github.com/systers/language-translation/tree/design_comps/docs/design

[2015-07-06 18:39] rosariorobinson commented on #35
1. Posts = country

2. I believe we wanted to use sites as a dedicated site within a post/country. For example, Kenya post could have 2 sites, Nairobi and Mombasa.

3. orgs = other organizations. (We thought peace corps is one organization that could potentially use this app. There could be other orgs peace corps partners or outside of peace corps, for example USAID, Red cross. This is an open sou

[2015-07-06 18:40] rosariorobinson commented on #30
Answer to #35 about orgs. Exactly what the title suggest, this is potential app other orgs can use.

[2015-07-07 00:18] isuriupeksha opened #47 "Add gem `rack-mini-profiler` for development"
Profiler for your development Ruby rack apps. I think, that displays speed badge for every HTML page

[2015-07-08 06:26] wonook commented on #47
The gem seems like it's for checking speed for the application, but I'm not sure if this will be really mandatory

[2015-07-08 06:26] wonook commented on #35
Thanks for the answer! I see how it works now.

[2015-07-08 07:49] isuriupeksha commented on #47
This for only development env. Not production. We can check number of SQL queries which app does at one request. This is great tool if you optimize the app speed.

[2015-07-09 00:46] isuriupeksha commented on #33
@wonook we need to add more test cases by user role.

[2015-07-09 00:46] #33 closed

[2015-07-09 13:59] isuriupeksha opened #50 "Remove volunteers_controller.rb and contributors_controller.rb files from controller"
It is enough to manage members by `users_controller.rb`. So we can remove following two files.

-- `volunteers_controller.rb`
-- `contributors_controller.rb`

[2015-07-09 14:01] abelards commented on #50
Beware of removing anything if you haven't made a script to migrate data.
Also don't assign things to me for the next two weeks because I'll be on vacation until the 26th ^^
Cheers,

[2015-07-09 15:26] isuriupeksha commented on #47
We can use this gem when we optimize the SQL queries. So I am closing this ticket now.

[2015-07-09 15:26] #47 closed

[2015-07-09 19:04] wonook commented on #50
I'm already doing that in #42. No worries.

[2015-07-09 19:04] #50 closed

[2015-07-10 12:07] wonook opened #52 "Modals in React"
http://blog.arkency.com/2015/04/beautiful-confirm-window-with-react/

[2015-07-10 16:10] isuriupeksha commented on #39
Thanks for the feedback.

I am going to implement `published_at` feature to the article section. `Admin` & `Volunteer` can accept articles. But all the articles which created by contributors goes to `published_at` false.

[2015-07-10 18:17] #38 closed

[2015-07-10 18:32] #42 closed

[2015-07-10 19:39] isuriupeksha commented on #23
**Admin activity stream**

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/Admin.png)

[2015-07-10 19:44] isuriupeksha commented on #23
@rosariorobinson
Here I have attached the source file (Sketch) of above design compositions.
https://github.com/systers/language-translation/blob/design_comps/docs/design/plr.sketch

As you mentioned earlier, it would be great if we can get feedback from experienced designer. I am waiting for converting files to HTML & CSS templates.

[2015-07-15 02:47] rosariorobinson commented on #23
These are really great designs. UI person has been traveling but she'll jump on when she can. Go ahead and convert the files.

[2015-07-15 08:35] wonook opened #55 "Cleaning up the views"
[code]
these lines can be cleaned up by using `load_and_authorize_resource` + `Ability` classes.
There are 20 views that still have these lines on them, and they can be cleared up.

[2015-07-15 08:36] wonook opened #56 "Integration of Kaminari gem + ReactJS"

[2015-07-15 11:11] #17 closed

[2015-07-15 11:12] #35 closed

[2015-07-16 16:24] wonook opened #58 "Rename Installation model to Country"
This had been causing some confusion for us. `Installation`s are referred as `Post`s in all of the views. However, `Posts` can be misleading since it can have meanings like 'posts' in as blog 'posts'. So to clear this out a little bit, I'm thinking of maybe changing its naming into something like 'Nation' or 'Country', since according to #35, 'Posts' have meanings that actually refer to 'Countries

[2015-07-16 19:01] wonook opened #59 "Thinking about the need of the Annotate gem"
I noticed that @isuriupeksha added the `annotate` gem a while ago, but I'm quite unclear about its necessity. It only gets updated manually and it is often forgotten on updates, and it often causes merge conflicts as well. However, above all, we also have a copy of a file that describes exactly what it's trying to do already in `db/schema.rb` which is maintained automatically upon migrations, so I

[2015-07-16 19:09] wonook commented on #58
Also, instead of having email, address, and contact columns on the `Installation` model, I think choosing a user as a 'post manager' would be more convenient. We won't have to write things twice then.

[2015-07-17 01:56] isuriupeksha opened #60 "Adding video and audio file"
Adding video and audio file to one article. We can support multiple audio files and videos file.

![Member](https://raw.githubusercontent.com/systers/language-translation/design_comps/docs/design/NewPhoto.png)

[2015-07-17 19:05] wonook commented on #30
A note for myself:
- [ ] Creating organization model
- [ ] Attaching organization to each post
- [ ] Attaching organization to each user
- [ ] Changing the MVC accordingly
- [ ] Hiding materials that are irrelevant to the user's organization
- [ ] Restructuring roles

[2015-07-17 19:06] wonook commented on #30
A note for myself:
- [x] Creating organization model
- [x] Attaching organization to each post
- [x] Attaching organization to each user
- [x] Changing the MVC accordingly
- [ ] Hiding materials that are irrelevant to the user's organization
- [ ] Restructuring roles

[2015-07-18 03:56] isuriupeksha opened #61 "What kind of information should represent on home page"
@rosariorobinson Currently home page has only user profile information. But I suggest to represent most useful information once user login to the system. So we can show `published` articles on home page.

Then `Article` section contains all article whether they are `draft`, `published` and `reviewing` for admin. Contributes can view only their posted articles.

Welcome your feedback!

[2015-07-19 17:34] wonook commented on #61
I agree on that the root page should include some other useful information rather than the user's information. We can have some discussion about what to put on the root page on this thread.

[2015-07-19 17:34] wonook commented on #60
This should work through CarrierWave.

[2015-07-19 17:38] wonook opened #62 "Resizing Photos upon uploads + Thumbnails"
The images being uploaded are always being uploaded without being resized and thus are creating some inconsistency among the pictures. Some resizing can be easily done through `CarrierWave`, which is our tool for uploading images.
Also, it would be better if we could have thumbnails on the index page. These thumbnails can be easily made using `MiniMagick`, which is a tool widely used for various a

[2015-07-19 17:39] wonook commented on #59
I suggest taking this one out. Any opinions @isuriupeksha ?

[2015-07-20 11:59] isuriupeksha commented on #60
yes. I am using that.

[2015-07-20 11:59] isuriupeksha commented on #59
don't remove that. I am using that for development.

[2015-07-20 17:07] wonook commented on #59
I'm not sure so I'm asking, but does this do anything more than the `db/schema.rb` file?

[2015-07-20 17:43] isuriupeksha commented on #59
Yes. for me it is very easy to check table attributes.

[2015-07-20 17:58] wonook commented on #59
I see. It's completely of no use to me so I was just wondering. If you want to keep using it, you probably would have to keep an eye on it for yourself, to keep it up-to-date since I'll probably forget to update it upon manipulating the schema.

[2015-07-20 17:58] #59 closed

[2015-07-21 12:49] #10 closed

[2015-07-21 15:18] wonook opened #63 "Grant admin Roles"
I'll rewrite the User Show view in ReactJS to provide functionalities for granting admin roles

[2015-07-22 16:27] #30 closed

[2015-07-23 06:38] wonook opened #65 "Cleaning up migration files and the seed file"
Due to a number of cleanup jobs, we currently have a number of migration files that doesn't perform anything in the end (create table --> (edit table) --> drop table). We can clean these up so that the files are more neat. Naming issues can be fixed here as well.
Also, since we've got an answer back from Rose about #35 , we can fill in the `seed.rb` file with better information now.

[2015-07-23 07:17] #39 closed

[2015-07-24 17:25] wonook opened #66 "Underscore.js"
Adding [underscore.js](http://underscorejs.org/) library to our app will make our lives much easier while writing JS.

[2015-07-25 01:53] isuriupeksha opened #68 "User registration workflow doesn't work"
User cannot signup without `organization_id`.

[2015-07-25 06:34] wonook commented on #68
That is intentional.
Do you think there will be a case where a user doesn't belong to any of the organizations?

[2015-07-25 15:53] #65 closed

[2015-07-25 15:53] #63 closed

[2015-07-25 18:38] isuriupeksha commented on #68
great! now fixed.

[2015-07-25 18:38] #68 closed

[2015-07-25 18:40] isuriupeksha commented on #62
The images sizes will be change once I integrated new design. So better to update once they are ready.

[2015-07-25 18:42] wonook commented on #62
Alright, sounds cool to me.

[2015-07-25 18:42] #66 closed

[2015-07-26 13:14] wonook opened #72 "Travis: Migrating from legacy to container-based infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-07-26 14:03] #72 closed

[2015-07-27 07:44] isuriupeksha opened #75 "Member New/Invitation feature"
Following features are included.
1. Admin can create new user or create user without invitation email
2. Admin can invite new user with welcome email message.

[2015-07-27 19:49] #55 closed

[2015-07-29 09:21] #56 closed

[2015-07-29 13:54] isuriupeksha commented on #75
@wonook What is the default role when user sign up from directly site? and I don't see it create user roles with signup process completed.

[2015-07-29 15:12] wonook commented on #75
Currently, the user isn't granted any kind of role upon signing up. As you can see in [`ability.rb`](https://github.com/systers/language-translation/blob/develop/app/models/ability.rb), the newly signed-up users fall into 'else' and thus can only `read` the `Articles`. Users can be granted other roles through the `Members Show` view or the `Sites Show` view for now.

[2015-08-03 13:18] #52 closed

[2015-08-05 03:24] wonook opened #77 "Gem updates"
- [ ] be sure to check compatibilities and update notes for each of the gems.

[2015-08-07 18:49] isuriupeksha opened #78 "Admin user cannot create new Site record."
@wonook due to Ability setup, cannot create new Site record.
`      can :manage, Site,
          installation_id: @user.organization.installations.map { |a| a.id }
`

[2015-08-07 18:51] isuriupeksha commented on #78
It need to add like this.

`can :new, Site`
`can :manage, Site, installation_id: @user.organization.installations.map { |a| a.id }`

[2015-08-08 04:00] isuriupeksha commented on #78
@wonook Admin cannot access to `Organization` page to create or modify organizations. Is something missing in `Ability` class?

[2015-08-08 04:01] isuriupeksha commented on #78
Since I need to apply new templates to organization. I updated the `Ability` class as follows,
`can :manage, [Language, Category, Article, Organization]`

[2015-08-08 04:04] isuriupeksha commented on #58
Yes. It is great if we can change `Installation` name.

[2015-08-09 06:32] wonook commented on #78
@isuriupeksha
Do you see a case where an admin of a specific organization will have to manage other organizations? I don't think that a 'Peace Corps' admin should be able to manage the 'Red Cross' organization.
A `superadmin` can manage the organizations through the ActiveAdmin interface at `http://localhost:3000/admin`

[2015-08-09 06:33] wonook commented on #78
I've also checked, but I was able to create `sites` that belonged to the `installations` of the `organization` that the user belonged to. Are you sure that this doesn't works? It works just fine for me.

[2015-08-09 06:39] wonook commented on #78
I'll give a fix for the bug.

[2015-08-10 05:00] wonook commented on #78
@isuriupeksha Check out the PR and leave a comment for me. #79

[2015-08-10 08:08] wonook opened #80 "Indentation + Comments"
Indentations are quite messy currently from legacy code. I feel the need to organize all of the files at once.
Also, a lot of our code doesn't have comments to explain their existence. I'll try to provide some of these in our controllers and models.

[2015-08-11 08:15] wonook opened #83 "Test cases"
I've been neglecting the 'ops' part but focusing more on the 'dev' part. It seems like that since a lot of the portions of the applications have been cleaned up now, I'll be able to add test cases for the parts that I've implemented.

[2015-08-11 09:11] #77 closed

[2015-08-11 14:48] #78 closed

[2015-08-11 16:10] #58 closed

[2015-08-16 17:39] isuriupeksha opened #85 "Adding Fog gem - support cloud services"
Currently file upload goes to public directory. But there is a security issues if we allows to upload images to same server. I would like to add `Fog` gem.

[2015-08-16 17:46] wonook commented on #85
We would have to know the details about the server for this issue. I've asked, but got no answer back.

btw, take a look at the [dragonfly](https://github.com/markevans/dragonfly) gem for images. It is often used along with the `fog` gem to process image files

[2015-08-16 17:48] wonook opened #86 "Single views for simple models"
simple models = models with <2 attributes: Categories, Languages, Organizations.

Refer to the discussion that mentions this issue.

[2015-08-16 17:55] isuriupeksha commented on #85
@wonook currently we user `carrierwave` for upload images. `dragonfly` is a alternative for `carrierwave`?

[2015-08-16 18:01] wonook commented on #85
My bad! Just a bit of confusion!

[2015-08-17 05:14] isuriupeksha commented on #85
Shall I setup fog configuration to upload assets files to `AWS s3` support.

[2015-08-17 17:25] wonook opened #89 "Integration of React-Bootstrap with new design templates"
It seems like @isuriupeksha has got rid of the bootstrap CSS library for the new designs, but they are actually needed for the React-Bootstrap component (Modals, Buttons, Glyphicons, etc.). I'll find a way to add these in while keeping the new designs alive.

[2015-08-17 17:26] #80 closed

[2015-08-17 19:15] wonook commented on #27
Making use of [Sparkleshare](http://sparkleshare.org/) is another idea for this issue

[2015-08-18 06:03] #89 closed

[2015-09-11 06:44] #75 closed

[2015-09-11 06:48] isuriupeksha opened #93 "Removing `aasm` and use Ruby on Enums, Queries"
Rails 4 has nice feature because it support `Enums`.
https://hackhands.com/ruby-on-enums-queries-and-rails-4-1/

[2016-01-21 17:59] shubhpatel108 opened #96 "Routing error while a user updates his/her own profile"
<img width="540" alt="screen shot 2016-01-21 at 11 26 57 pm" src="https://cloud.githubusercontent.com/assets/4345133/12489468/822c7c50-c096-11e5-8471-9d8b9c634ebb.png">

[2016-01-21 18:08] shubhpatel108 commented on #96
The update profile form is "PUT" to the URL provided by Devise helper registration_path(resource_name).
Replacing this helper function with update_user_registration_path will point to the correct URL, i.e. "/profile".

[2016-01-21 18:53] shubhpatel108 commented on #62
This seems to be implemented and commented out in `picture_uploader.rb`. Why don't we start using images of different sizes? As pointed out by @wonook, the index page should use the thumbnails.
Is anyone already working on this?

[2016-01-22 08:08] abelards commented on #62
Not yet but you're welcome to assign yourself on the issue and start PRing ;)

[2016-01-23 10:52] shubhpatel108 commented on #62
Thanks @abelards, I'm on this one!

[2016-01-25 09:31] shubhpatel108 commented on #62
Along with creating thumbnail version, shall we create another version for show and edit page of an article?
Presently the original image is used directly without modification. A 1024 × 768 pixels or a larger image can consume lot of user's network.

[2016-01-25 09:33] abelards commented on #62
I'd love that, if @rosariorobinson has pointers for you to choose the right
size :)
I suppose we'd have to:
- trim down for list (thumbnails)
- trim down for show/edit (pic) if image too big
- not try to resize if the image is below a certain size (say, show-size
and below)

Cheers,

On Mon, Jan 25, 2016 at 10:31 AM, Shubham Patel <notifications@github.com>
wrote:

--
Sylvain Abélard
"J’ai décidé

[2016-01-25 10:15] shubhpatel108 commented on #85
@isuriupeksha, If you haven't started working with this, I would suggest using [`carrierwave-aws`](https://github.com/sorentwo/carrierwave-aws) gem for AWS S3 integration. It's an official gem.

Quoting a comparison table provided in its readme [07/17/2013]

| Library | Disk Space | Lines of Code | Boot Time | Runtime Deps | Develop Deps |
| ------- | ---------- | ------------- | --------- | -----

[2016-01-25 12:32] isuriupeksha commented on #62
Hi @shubhpatel108 and @abelards,
There are different version of images. This web application support to mobile screens as well. Here you can get images sizes. https://github.com/systers/language-translation/issues/23

Note: We haven't completed the articles new templates into the app. We have to integrate new article grid views.

[2016-01-25 12:46] isuriupeksha commented on #85
@shubhpatel108 I have already integrated `fog` gem and configurations. But I haven't sent PR for that update because we haven't finalized which service support for files upload

[2016-01-25 12:46] isuriupeksha commented on #85
@shubhpatel108 https://github.com/systers/language-translation/tree/PLT%2386ADdingFogConfig this is the branch.

[2016-01-26 11:40] shubhpatel108 commented on #85
@isuriupeksha awesome work! The code is perfectly working. I think it is good to go for a PR.

[2016-01-28 06:43] shubhpatel108 opened #98 "Alert close button not working"
<img width="1050" alt="screen shot 2016-01-28 at 12 11 20 pm" src="https://cloud.githubusercontent.com/assets/4345133/12637061/5583cf1a-c5b8-11e5-85e7-50231db5386c.png">

The cross provided on right top corner for closing the alert message is not working. Such error messages are used on all forms.

[2016-01-28 07:21] shubhpatel108 opened #99 "Menu button not working in Mobile view"
![snip20160128_2](https://cloud.githubusercontent.com/assets/4345133/12637747/af68c634-c5bd-11e5-9baa-3b5205268536.png)

The Menu button on left top corner on mobile view works on freshly loaded index page. But after any other page is opened (e.g. members, sites, etc.) it stops working. It does not work on edit/new pages either.

[2016-02-05 14:31] shubhpatel108 commented on #96
#97 Merged with develop.

[2016-02-05 14:31] #96 closed

[2016-02-08 19:06] shubhpatel108 opened #101 "Delete the related users/volunteers when an organization or a site is deleted"
Presently, deleting an organization throws ForeignKeyViolation error (and rollbacks). This is because even after the organization is deleted, there are references to it from the user table.

When a site is deleted, the user-role association is deleted. The actual volunteer user still persists with permissions to login.

[2016-02-08 19:13] shubhpatel108 opened #102 "Unique titles/names for instances"
Need to keep a check on the creation of duplicates of languages, organizations, sites or categories. E.g. No 2 countries should have same name.

This can be done by adding `validates_uniqueness_of` the name in the respective models.

[2016-02-08 19:31] shubhpatel108 opened #103 "Longer words flow out of the text box"
Many 'show' pages display the text without hyphenating the longer words.
<img width="541" alt="screen shot 2016-02-09 at 1 00 42 am" src="https://cloud.githubusercontent.com/assets/4345133/12896547/955fcbde-cec8-11e5-9580-91adc09197e2.png">

[2016-02-10 15:25] shubhpatel108 opened #104 "Don't allow admin to create/update countries for other organization or admin"
Suppose admin1 follows the following steps:

1. Create a country for his organization (organization1) with admin2 as manager.
2. Update the organization of this country to organization2.

This succeeds that now admin1 has created a country for admin2 and organization2.

Another problem is: If he tries to create a country directly for other organization or admin, the creation fails but he is not al

[2016-03-03 10:35] ujithaperera commented on #103
character overflow issue is no longer appearing in Articles. But it is nice to fill these line gaps in same colour other than the keeping white

[2016-03-03 10:36] ujithaperera commented on #103
![screen shot 2016-03-03 at 4 05 42 pm](https://cloud.githubusercontent.com/assets/12997101/13491711/e2c8d21e-e159-11e5-89be-45618149ed8b.png)

[2016-03-03 10:41] ujithaperera opened #107 "No error flash massage is appearing for wrong password or wrong email."
When a user is trying to login to system from wrong credentials it's better to show any flash massage including that "Your email or password is wrong/incorrect other than reloading the page

[2016-03-03 10:47] ujithaperera opened #108 "Forget password is not functioning properly"
When a user hit on "Forgot password" in login page it request the user email and don't proceed to next step. And error massage ask about the username not the email

[2016-03-03 10:51] ujithaperera commented on #98
This issue is also remain in forgot password feature. top-right close button is not working
![screen shot 2016-03-03 at 4 14 40 pm](https://cloud.githubusercontent.com/assets/12997101/13492071/f93ce60a-e15b-11e5-9aba-bce529be43d5.png)

[2016-03-05 19:40] shubhpatel108 opened #109 "Dummy Issue to test slack integration"

[2016-03-05 19:41] #109 closed

[2016-03-08 11:46] ishit opened #113 "User attributes' validations are not set."
The lengths of these attributes are not capped:
- Username
- Email
- First name and last name

![screenshot from 2016-03-08 17 14 19](https://cloud.githubusercontent.com/assets/4801132/13600812/7f3e78ec-e551-11e5-9b60-6681ba5c9ecb.png)

[2016-03-09 04:34] prachikumari commented on #113
I am working on this issue. What should I keep as maximum length of fields, as of now I am keeping the length constraints as 20 for all.

[2016-03-09 07:15] shubhpatel108 commented on #113
@prachikumari Let's not put any constraint on email. Rest can be of 10 characters. You might also want to add content validation on them. They should only contain alphanumeric characters.

[2016-03-09 18:23] prachikumari commented on #113
I have created a fix, but it is failing the CI jobs.  Please verify the changes. This is the link of the patch
https://github.com/prachikumari/language-translation/commit/04551be2bbd42dcac3296cf4429e6829aa06799c

[2016-03-19 01:59] Rupinderwadali opened #115 "Validate contact number field in Edit profile page."
The contact number field in edit profile page is not validated. It's taking the character value also.

[2016-03-19 02:00] Rupinderwadali commented on #115
I am going to solve this issue.

[2016-03-19 02:13] Rupinderwadali commented on #23
Hello Developers,

I am interested in contributing to UI of this project. Is this issue is still open and what should I need to do? Please do tell me.

[2016-03-19 02:15] Rupinderwadali commented on #23
Is the wireframe presented are accomplished, I suppose to work on these or suggesting something else?

[2016-03-23 11:04] arushivashist opened #117 "couldn't find file 'bootstrap/dist/css/bootstrap' with type 'text/css'"
Bootstrap folder not found on installing

[2016-03-23 11:11] #117 closed

[2016-03-24 01:25] Rupinderwadali commented on #27
We can use the rake-offline gem for available the web pages offline and these are updated automatically when they are connected to internet.

[2016-03-24 01:27] Rupinderwadali commented on #27
The second alternative is using the HTML5 filesystem API. Suggest if there is any alternative that provides this facility.

[2016-03-24 04:30] Rupinderwadali opened #118 "Add new category, members, sites in individual user panel not working"
I found that in individual user panel the there is a button added to add the category, members, sites when to click on it, it direct us to profile page. Either user doesn't have permission to add them or they are not functioning. If the user has not permission to permission then remove it or make it in working form.

[2016-04-13 16:31] Rupinderwadali commented on #107
I submit my patch in which the flash message displayed when user enters wrong username and password.

[2016-04-16 18:45] Rupinderwadali opened #125 "Upload and displaying user's profile picture."
In the sign-up page and edit page, there is no option to upload the user's profile picture but when a user logged in there is div for an avatar to show.

[2016-04-16 18:47] Rupinderwadali commented on #125
I solved this issue and submit my patches a7ae292 and ec3c998.

[2016-04-16 18:49] Rupinderwadali opened #126 "Search box is not working."
The search is not working. When we type something for search it did show any result of the search.

[2016-04-16 18:52] Rupinderwadali commented on #126
I saw and found that pg_search gem is used for searching and using the search scope technique for searching. I am working on this issue.

[2016-05-07 02:10] isuriupeksha commented on #23
@Rupinderwadali Here you can find the designs which I have done in last year. But I have uploaded source file so that anyone can contribute UI improvements. Last time we couldn't get feedback and improve designs from professional designer. So @rosariorobinson will help you in this year to get finalize UI/UX improvements.

[2016-08-15 13:19] Rupinderwadali opened #141 "Single Page Application using ember"
Develop the single page application using ember. SPA in Ember (backend in Rails, frontend in Ember and the frontend asks for data in JSON calls). Then we use the gems for working offline.

[2016-11-06 07:16] Rupinderwadali commented on #126
This issue is resolved with this pull request #133

[2016-11-06 07:16] #126 closed

[2016-11-06 07:17] #125 closed

[2016-11-06 07:18] #107 closed

[2016-11-20 14:13] Rupinderwadali commented on #118
Authorization of the View #139 this pull request solve this issue.

[2016-11-20 14:13] #118 closed

[2016-11-20 14:14] #115 closed

[2017-03-05 14:38] fatimarafiqui opened #146 "No Contribution guidelines"
There are no contribution guidelines that I could find in the documentation. @Rupinderwadali I see many open issues and pull requests. How can one start contributing? Please help me out.

[2017-03-08 11:23] fatimarafiqui commented on #146
@Rupinderwadali @rosariorobinson Any updates on this?

[2017-03-08 17:50] Rupinderwadali commented on #146
@fatimarafiqui, You can start contribution from the open issues and can also open a new issue if you find any. Code of the pull request is not reviewed yet so it is not merged. Let me know if you find any difficulty.
Thanks for your interest.

[2017-03-08 18:45] fatimarafiqui commented on #146
@Rupinderwadali I think rules for contribution can be added to the documentation, like it is done in other systers repositories.
Example Reference Link: https://github.com/systers/macc/blob/develop/docs/Contribution.md

[2017-03-09 17:57] arkokoley commented on #101
Is this issue a good place to start, if I want to contribute to this project as a part of GSoC 2017?

I have a fair knowledge of Rails and its intricacies.

[2017-03-13 14:37] adityathiru commented on #113
Hi! I'm a GSoC 2017 aspirant.
I'd like to know if this issue is fixed, or should I work on it ?

[2017-03-13 14:38] adityathiru commented on #108
Hi! I'm a GSoC 2017 aspirant.
I'd like to know if this issue is fixed, or should I work on it ?

[2017-03-13 14:40] adityathiru commented on #141
Hi! I'm a GSoC 2017 aspirant.
I'd like to know if this issue is fixed, or should I work on it ?

[2017-03-13 15:06] Rupinderwadali commented on #113
@adityathiru wait for the mentor's reply or meanwhile you can check the pull requests. But wait until the mentor assigned you some task or review the task. You can join the systers slack channels for more information and queries.

[2017-03-13 15:10] Rupinderwadali commented on #146
Basic rules are similar for almost all the projects like mentioned in the above docs. You are not supposed to resolve the issue that is assigned to other student or wait until the mentor assigns you some tasks. You can join systers slack channel for more information and queries. Mentors list will be updated soon
Thanks for your interest. Please go through the issues list and also add new issue tha

[2017-03-13 15:18] Rupinderwadali commented on #141
@adityathiru, this issue is not resolved yet. As we need to convert out the whole front-end to ember for SPA. You can work on it. But wait for the mentor's reply. He will assign you the task then you can start work on it. You can join the slack channel of systers for more information and guidance.
Thanks

[2017-03-13 15:50] adityathiru commented on #141
Sure! Will look into it, until the mentor's reply.
Thanks!

[2017-03-13 15:50] adityathiru commented on #113
Sure! Will do :+1:
Thanks!

[2017-03-16 06:53] adityathiru opened #147 "Route /logout fails"
I'm a GSoC 2017 aspirant.
Logout route is currently as a DELETE request. Request was failing during logout.

[2017-03-16 11:49] adityathiru opened #150 "Wrongly linked assets"
I'm a GSoC 2017 aspirant.
While trying to get the existing code base to work, I encountered the following issues.
Many of the files in the asstes pipeline were wrongly linked. The solutions to them are given below:
* In ``` app/assets/javascripts/application.js ``` the following lines had to be removed:
[code]
* In ``` app/assets/stylesheets/application.css ``` the following lines had to be remove

[2017-06-09 10:02] adityathiru opened #152 "Bootstrap, React and Sprockets not configured properly"
- Due to issue #150, bootstrap doesn't work properly.
- Bootstrap has to be installed in the "Rails" way for it to work best.
- Both bootstrap and sprockets have to be added to the Gemfile and installed.
- Same goes for ReactJS. Due to this, I'm unable to view members web page in PR #137.
- To know more : https://github.com/twbs/bootstrap-rubygem ; https://github.com/reactjs/react-rails

[2017-06-11 03:16] MeepyMay opened #153 "Aditya fixes and merges code from last year's contributions."
## Description
As a contributor,
I want to code with the most recent up to date repo,
so that I don't repeat any previous codes.

## Mocks
N/A

## Acceptance Criteria
- Only PRs visible are assigned to current GSoC17 Student, Aditya.

## Definition of Done
- Passes acceptance criteria items.

## Estimation
- 10 Hours

[2017-06-11 03:32] MeepyMay opened #154 "Mentors perform a code review on the 1st week's PR. (May 30 - June 05)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-11 03:35] MeepyMay opened #155 "Mentors merge all PRs from Week 1 to "aut-test" branch."
## Description
As an Admin,
I want to download the current code,
so that I can see the progress over the GSoC period.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed and approved by at least 2 different mentors.
- Code merged into the correct **"aut-test" branch**.
- Code merged into the correct repo (Naman - FA, Mishra - MACC, Aditya - PLT)

## Definition of Done
- Week 1's cod

[2017-06-11 03:35] MeepyMay opened #156 "Mentors perform a code review on the 2nd week's PR. (June 06 - June 12)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-11 03:46] MeepyMay opened #157 "Mentors merge all PRs from Week 2 to "aut-test" branch."
## Description
As an Admin,
I want to download the current code,
so that I can see the progress over the GSoC period.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed and approved by at least 2 different mentors.
- Code merged into the correct **"aut-test" branch**.
- Code merged into the correct repo (Naman - FA, Mishra - MACC, Aditya - PLT)

## Definition of Done
- Week 2's cod

[2017-06-11 03:47] MeepyMay opened #158 "Mentors perform a code review on the 3rd week's PR. (June 13 - June 19)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-11 03:47] MeepyMay opened #159 "Mentors merge all PRs from Week 3 to "aut-test" branch."
## Description
As an Admin,
I want to download the current code,
so that I can see the progress over the GSoC period.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed and approved by at least 2 different mentors.
- Code merged into the correct **"aut-test" branch**.
- Code merged into the correct repo (Naman - FA, Mishra - MACC, Aditya - PLT)

## Definition of Done
- Week 3's cod

[2017-06-11 03:48] MeepyMay opened #160 "Mentors perform a code review on the 4th week's PR. (June 20 - June 26)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-11 03:49] MeepyMay opened #161 "Mentors merge all PRs from Week 4 to "aut-test" branch."
## Description
As an Admin,
I want to download the current code,
so that I can see the progress over the GSoC period.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed and approved by at least 2 different mentors.
- Code merged into the correct **"aut-test" branch**.
- Code merged into the correct repo (Naman - FA, Mishra - MACC, Aditya - PLT)

## Definition of Done
- Week 4's cod

[2017-06-11 04:12] MeepyMay commented on #153
Includes:
- Previous GSoC16 student's code.
- Issues/PRs not marked with either "GSoC16" or "GSoC17"
- Cleaning up code in the PRs to consistent notation.

[2017-06-11 04:22] MeepyMay opened #162 "Aditya prioritizes issues that are open."
## Description
As a contributor,
I want to code with the most recent up to date repo,
so that I don't repeat any previous codes.

## Mocks
N/A

## Acceptance Criteria
- Issues are clearly marked with **1 Priority Label**.

## Definition of Done
- Passes acceptance criteria items.

## Estimation
- 0.5 Hours

[2017-06-11 04:27] MeepyMay opened #163 "Aditya creates a PR for the HIGH priority marked issues."
## Description
As a contributor,
I want to code with the most recent up to date repo,
so that I don't repeat any previous codes.

## Mocks
N/A

## Acceptance Criteria
- Only issues opened are from Aditya, GSoC Mentors, or GSoC Admin.
- Every open issue has a Priority level of LOW or MEDIUM.

## Definition of Done
- Passes acceptance criteria items.

## Estimation
- 15 Hours

[2017-06-11 04:36] MeepyMay opened #164 "Aditya writes Weekly Status Report for Week 1 and Bio Information."
## Description
As an Admin,
I want to regularly check Aditya's progress throughout the GSoC program,
so that I can help where needed.

## Mocks
N/A

## Acceptance Criteria
- All sections in [Aditya's wiki](https://github.com/systers/language-translation/wiki/30-May-~-21-August) marked with "TBD" have content.

## Definition of Done
- Passes acceptance criteria items.

## Estimation
- 0.5 Hours

[2017-06-12 05:56] adityathiru opened #165 "Fonts referenced in code, but not added to assets pipeline."
* Fonts as specified in the code, needs to be added, for a better looking UI.

[2017-06-12 05:58] #146 closed

[2017-06-12 06:08] #165 closed

[2017-06-12 06:25] #150 closed

[2017-06-12 09:37] #98 closed

[2017-06-12 11:16] adityathiru commented on #152
Issue fixed in one of the PRs from GSoC 2016

[2017-06-12 11:16] #152 closed

[2017-06-12 11:19] adityathiru commented on #147
Issue fixed in one of the GSoC 2016 PRs.

[2017-06-12 11:19] #147 closed

[2017-06-12 11:59] #113 closed

[2017-06-12 11:59] #99 closed

[2017-06-12 12:08] #86 closed

[2017-06-12 14:13] #108 closed

[2017-06-13 09:29] #83 closed

[2017-06-13 09:33] #93 closed

[2017-06-13 09:46] adityathiru commented on #162
* Prioritised all issues with a Priority Label.
* Also added a tag (if necessary) which indicates, if the issue is a bug or enhancement or a question.

[2017-06-13 10:57] adityathiru commented on #164
* Updated Bio Information
* All sections with TBD are completed and up to date for week 1 and 2.

[2017-06-16 04:24] #164 closed

[2017-06-16 04:25] #162 closed

[2017-06-20 10:01] adityathiru opened #174 "Deletion of audio files when article is deleted"
* Similar to #101 for articles and audio (ForeignKeyViolation and Rollbacks).

[2017-06-20 10:48] adityathiru opened #176 "Remove Avatar not working in Profile Edit page"
* Remove Avatar not included in devise permitted params.

[2017-06-21 05:25] #101 closed

[2017-06-21 13:38] #103 closed

[2017-06-21 14:00] #36 closed

[2017-06-21 14:02] MeepyMay commented on #36
@adityathiru @prachi1210 @Anjali05

I think there was a misunderstanding for GSoC17. Deletion, Creating, Updating, etc. should all be shown on the activity list as well as the person responsible.

@adityathiru has closed the issue since it's already there.

[2017-06-21 14:10] #154 closed

[2017-06-21 14:10] #155 closed

[2017-06-21 14:10] #156 closed

[2017-06-21 14:10] #157 closed

[2017-06-21 15:12] #60 closed

[2017-06-23 04:47] #102 closed

[2017-06-23 05:21] #176 closed

[2017-06-25 18:43] #43 closed

[2017-06-26 08:02] #174 closed

[2017-06-26 08:10] #62 closed

[2017-06-28 05:43] prachi1210 opened #181 "Create a pull request template and issue template"
Currently the repo is missing a PR template and issue template

[2017-06-28 09:23] #181 closed

[2017-06-28 14:19] prachi1210 opened #182 "Add issue template"
Project is currently missing an issue template.

[2017-07-05 11:11] #163 closed

[2017-07-07 04:32] #159 closed

[2017-07-07 04:32] #160 closed

[2017-07-07 04:32] #158 closed

[2017-07-07 04:32] #161 closed

[2017-07-18 16:12] adityathiru opened #194 "Filterrific Gem not working"
* Functionality not working post PR merge resolve conflict.
* Resolve Conflict : https://github.com/systers/language-translation/commit/577165bf3824b46843db7340aa085c2f81ac7784
* PR Reference : https://github.com/systers/language-translation/pull/142 (EmberJS Implementation)
* From my end, I think EmberJS setup interfered with AJAX and other JS functionalities.
* Need to figure out what exactly ca

[2017-07-26 12:31] adityathiru opened #202 "Unable to view Admin Dashboard"
Getting the following error :
* NoMethodError in Admin::Dashboard#index
* undefined method `+' for nil:NilClass
* Error in line : `li link_to(article.english + " (" + language_name + ", " + category_name + ")", admin_article_path(article))`

[2017-08-12 03:13] adityathiru opened #206 "Country details update should be restricted to only the administrator"
* User is able to enter, edit, delete installation contact information. Later, this can be done by only administrator.
* The "Later" part isn't updated.

[2017-08-12 03:16] adityathiru opened #207 "Add or delete volunteer names from the show page of site information"
* Volunteer names on a site can be added or deleted from the show page of each site information.
* Show page of site is blank.

[2017-08-12 03:17] adityathiru opened #208 "Creating volunteers"
* Empty string will not be taken as Volunteer name. Hence, if you just click "Create Volunteer" without entering anything in the Volunteer name field, no volunteer will be created.
* Unable to find implementation for creating volunteer.

[2017-08-12 03:42] adityathiru opened #209 "Add contact information along with number of sites in country "show" page"
* All sites under a post(installation) can be seen under "Posts" tab. Click "Show" for a particular post(installation) to see all contact information of post(installation) and number of sites in it.
* Unable to find implementation.

[2017-08-12 04:19] adityathiru opened #210 "Delete all volunteers and contributors belonging to a site, when a site is deleted"
* If a particular site is deleted, all the volunteer and contributors under that site are automatically deleted.
* Unable to find implementation.

[2017-08-12 04:58] adityathiru opened #211 "Limit params which admin can edit for volunteers"
* Admin can view and edit the volunteer contact information - except for volunteer's username and password.
* Currently, volunteers username is editable.

[2017-08-12 04:59] adityathiru opened #212 "Login approval for users can't be set by admin"
* Admin can enter the volunteer or contributor to use the application ,i.e., Login Approval = 'Not Yet' (before approval) to Login Approval = 'Yes'(after approval).
 * Unable to set login approval.

[2017-08-12 05:01] adityathiru opened #213 "Automatic syncing of application to fetch latest information for offline access, when connected to the internet"
* Application must automatically sync with the cloud database to fetch latest information whenever application is connected to the internet.
* Unable to find implementation.

[2017-08-12 05:03] adityathiru opened #214 "Approve, Disapprove User and Grant, Revoke Admin functionalities not working."
* Implementation can be found in users_controller

[2017-08-12 05:04] adityathiru opened #215 "Add and Remove Role functionality not working."
* Implementation can be found in sites controller.

[2017-08-12 05:15] adityathiru opened #216 "Unable to set/approve article from volunteer/admin end"
* Articles posted by any user is approved by volunteers/admin. If the volunteer/admin doesn't approve of the article, he/she may delete it.
* Unable to set article state.

[2017-08-12 05:18] adityathiru opened #217 "Upgrade Rails from 4.2.1 to 4.2.7.1"
* Upgrade Rails from 4.2.1 to 4.2.7.1 to prevent Cross Site Scripting, SQL Injection, Denial of Service attacks.
* Refer brakeman gem report SECURITY_DETAILS.html file for more information.

[2017-08-12 05:19] adityathiru opened #218 "Upgrade rails-html-sanitizer 1.0.2 to 1.0.3"
* Upgrade rails-html-sanitizer 1.0.2 to 1.0.3 to prevent Cross Site Scripting.
* Refer brakeman gem report SECURITY_DETAILS.html file for more information.

[2017-08-15 17:31] adityathiru commented on #216
@prachi1210 @Anjali05 The publish/unpublish(draft) feature to set/approve an article has already been implemented and works fine. Hence, I'm closing this issue.

[2017-08-15 17:31] #216 closed

[2017-08-15 19:54] adityathiru commented on #206
This has already been implemented. Failed to take notice of the phrase "installation information" before. Hence, closing this issue.

[2017-08-15 19:54] #206 closed

[2017-08-16 14:49] #202 closed

[2017-08-17 16:08] #211 closed

[2017-08-18 16:26] #209 closed

[2017-08-20 12:38] #207 closed

[2017-08-20 12:38] #214 closed

[2017-08-20 12:48] #212 closed

[2017-08-20 12:49] #210 closed

[2017-08-20 12:49] #208 closed

[2017-08-20 12:50] #215 closed

[2017-08-21 22:04] #153 closed

[2017-12-03 16:22] apoorvasingh17 commented on #61
Hi, can I take this issue up?

[2017-12-03 16:23] apoorvasingh17 commented on #217
Hi, can I take this up?

[2018-01-26 05:46] paavininanda opened #231 "The organisation doesn't get saved after selecting it from the drop down menu"
This prohibits the user from creating a new account on the website.
Problem occurred on Google chrome , Mac OS High Sierra.
![screen shot 2018-01-26 at 10 09 31 am](https://user-images.githubusercontent.com/24737071/35426594-2d77e400-028a-11e8-8d53-3ac71a95c973.png)

[2018-01-26 10:01] paavininanda commented on #231
This is just an issue in the live version, since the latest version has not been made live yet.

[2018-01-26 10:06] paavininanda opened #232 "API key in the profile gets out of the box in some of the screen sizes."
The styling needs to be changed for some of the screen sizes.
![screen shot 2018-01-26 at 3 29 39 pm](https://user-images.githubusercontent.com/24737071/35434761-42dabd12-02ae-11e8-8d21-186c63c968ef.png)

[2018-01-26 14:04] paavininanda opened #233 "There are no checks for the contact number being entered"
A user can enter the contact number of any length. Tests for checking the contact number should be implemented.

[2018-01-26 14:07] adityathiru commented on #233
I remember asking this to my mentors before. Since various countries can have phone numbers of different lengths, we didn't consider it then.

One thing you could do is, look at the upper bound for a phone number in general and add the conditions and tests for that.

[2018-01-26 14:21] paavininanda commented on #233
@adityathiru In python we have https://github.com/daviddrysdale/python-phonenumbers/tree/dev/python/tests which can validate the phone number for a particular country, maybe we have something similar for JS too.

[2018-01-27 05:31] adityathiru commented on #233
Sure. Do look into it. Here the validation is on rails backend, hence if you can find an appropriate gem, that'll be great!

[2018-01-27 12:45] shilpi1958 commented on #23
Is this issue still open?

[2018-01-27 15:05] adityathiru commented on #23
@shilpi1958 Yes, very much!

[2018-01-27 15:50] paavininanda opened #235 "When a new user is created no role is assigned to the user"
It would be good to assign some default role to the user when he first signs up.

[2018-01-27 16:49] Paarmita commented on #16
@wonook can I work on this to deploy Capistrano?

[2018-01-27 17:43] paavininanda opened #236 "Displaying each of the error messages with the respective fields"
This would make the UI look better.
![screen shot 2018-01-26 at 9 13 03 pm](https://user-images.githubusercontent.com/24737071/35474672-9d5a9686-03b7-11e8-82ca-f774c81bcf63.png)

[2018-01-27 19:23] shilpi1958 commented on #23
I would like to work on this! Can you tell me how to proceed?

[2018-01-27 21:59] wonook commented on #16
@Paarmita please go ahead :)

[2018-01-28 04:48] adityathiru commented on #235
Yes. Checkout the rolify gem which is present. It should give you an idea as to how to proceed!

[2018-01-31 13:28] paavininanda opened #237 "Wrong spelling for approve on the members page"
![screen shot 2018-01-31 at 6 56 19 pm](https://user-images.githubusercontent.com/24737071/35625531-abc78388-06b8-11e8-9a5f-fae50e16c61c.png)

[2018-01-31 16:35] #237 closed

[2018-01-31 16:41] paavininanda opened #239 "config/database.yml.example should be added to .gitignore"
Since this file should be deleted after cloning the project, this file should be added to .gitignore

[2018-01-31 16:44] #239 closed

[2018-01-31 16:45] adityathiru commented on #239
That's not a problem. It's meant as a reference for new comers to get an idea.

On 31-Jan-2018 22:12, Paavini Nanda <notifications@github.com> wrote:

Since this file should be deleted after cloning the project, this file should be added to .gitignore

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/systers/lang

[2018-01-31 16:48] paavininanda commented on #239
Yes, but i am personally getting this problem every time, I am not able to do git stash because of this. I think it would be a better to add this to .gitignore instead.

[2018-01-31 16:50] adityathiru commented on #239
You need to create a seperate database.yml file. That is already there in gitignore I think. I never seemed to have the issue though !

On 31-Jan-2018 22:18, Paavini Nanda <notifications@github.com> wrote:

Yes, but i am personally getting this problem every time, I am not able to do git stash because of this. I think it would be a better to add this to .gitignore instead.

—
You are receiving thi

[2018-01-31 16:51] prachi1210 commented on #239
Yes, a database.yml file already exists in the .gitignore. The point of having .example files is that you can rename them and leave .example files untouched

[2018-01-31 16:53] paavininanda commented on #239
Since point 3 in README says rename config/database.yml.example to config/database.yml, i renamed the file. So when i do git status I see **deleted: config/database.yml.example**
Or we can change that point to create a new file.

[2018-01-31 16:55] adityathiru commented on #239
The best way to avoid that is to duplicate that file and rename one of them to database.yml. That way you shouldn't face any errors. Probably that's what should've been written in the readme. 😅

On 31-Jan-2018 22:23, Paavini Nanda <notifications@github.com> wrote:

Since point 3 in README says rename config/database.yml.example to config/database.yml, i renamed the file. So when i do git status I

[2018-02-04 19:32] aSquare14 opened #243 "Sign-up/Sign-in using Oauth."
We can also implement Sign-up/Sign-in using Google and/or facebook.

[2018-02-04 20:03] aSquare14 opened #244 "Add links to official guides for installing dependencies."
We should add detailed instructions on how to install the following. We can redirect them to the official guide.This will make the project more friendly for new-comers.
- [ ] Postgresql
- [ ] npm
- [ ] graphviz
- [ ] node
- [ ] graphviz
- [ ] Imagemagick

[2018-02-06 04:25] adityathiru commented on #243
It's not implemented cause the original plan was to integrate or keep this system as similar to the ones the Peace Corps have.

[2018-02-06 06:42] isuriupeksha commented on #23
@adityathiru @rosariorobinson The design compositions which I have done is old now :) But the most of the workflows are designed based on the project initial requirements. 

I have free time in this year, So again I would like to contribute to this project. Especially I had an idea to build a mobile (optimized for the tabs) application since the Photo Language Translation app should work in offlin

[2018-02-25 14:42] paavininanda opened #245 "Sending a request to admin functionality to change a role"
**Description**

**Acceptance Criteria**
- Creating a message box for every user.
- Any new user would be able to send a message to the admin only, requesting the admin to change his/her role. Adding a button for this functionality.
- In return, admin would would either grant request or deny it. Adding a button/ability to reply using a text message for this too.
- Upon clicking on any of the butto

[2018-02-28 18:52] #244 closed

[2018-03-07 15:58] AnkitKhatri55555 opened #246 "This LABEL refers to a non-existent control"
Description

This LABEL refers to a non-existent control.
  | This happens when the FOR attribute doesn't exactly match a control ID, or targets a control NAME instead of a control ID.
  http://pc-lang-dev.systers.org/users/sign_up      -  Line 68

Acceptance Criteria
Line 68 of File sign_up should be corrected
Definition of Done
Sending a PR, along with a screenshot and getting it reviewed by men

[2018-03-07 16:01] AnkitKhatri55555 opened #247 "Omitting IMG WIDTH or HEIGHT attributes means page text jumps about as images load"
Description

Omitting IMG WIDTH or HEIGHT attributes means page text jumps about as images load.
  | This makes the page very hard to read while it's loading, and the user may click on the wrong link if it moves as it's being clicked. Add width and height attributes to the img tag matching the image dimensions. Authoring tools like Dreamweaver can automate this process. |   |  
  | http://pc-lang-

[2018-03-07 16:04] AnkitKhatri55555 opened #248 "Invalid value for CSS property"
Description

Invalid value for CSS property.
  border-top: border-top: 
/assets/application.self9ccedc9d2c6c1082785330e62c3b0683f85a5910eacb6bc21846a0092ce41bcb.css?body=1

Acceptance Criteria
Above File should be modified accordingly
Definition of Done
Sending a PR, along with a screenshot and getting it reviewed by mentor(s).

Estimation
5-10 min

[2018-03-07 16:06] AnkitKhatri55555 opened #249 "Chrome and Firefox display multiple security warnings for password fields that don't use HTTPS."
Description

Chrome and Firefox display multiple security warnings for password fields that don't use HTTPS.
  | http://pc-lang-dev.systers.org/users/sign_in | Line 31 |  
  | http://pc-lang-dev.systers.org/users/sign_up | Line 90 97

Acceptance Criteria
Above File should be modified accordingly
Definition of Done
Sending a PR, along with a screenshot and getting it reviewed by mentor(s).

Estimat

[2018-03-07 16:08] AnkitKhatri55555 opened #250 "Use the LANG attribute to identify the language of the page."
Description

Use the LANG attribute to identify the language of the page.
  | In HTML add a LANG attribute to the HTML tag, and in PDF set the language using Document Properties in Acrobat. This allows screen readers to pronounce words correctly. |   |  
  | http://pc-lang-dev.systers.org/users/password/new | Line 2 |  
  | http://pc-lang-dev.systers.org/users/sign_in | Line 2 |  
  | http://pc-la

[2018-03-07 16:10] AnkitKhatri55555 opened #251 "Some pages have the same title, so the title cannot be used to distinguish pages"
Description

Some pages have the same title, so the title cannot be used to distinguish pages.
  Change the TITLE elements so they are unique for each page.
  'Peace Corps' is also used on /users/sign_in.  | Line 7 |  
                                                     /users/password/new | Line 7 |  
                                                     /users/sign_up | Line 7

Acceptance Criter

[2018-03-07 16:12] AnkitKhatri55555 opened #252 "Compatibility issue"
Description

1.The element.attachEvent method was removed in Internet Explorer 11.

Use the W3 standard addEventListener() instead, using feature detection to support old versions of IE: if (obj.addEventListener) {     // use W3 DOM method if available (Chrome, Firefox, IE9+, Opera 7+)     obj.addEventListener('click', myClick, false); }
else if (obj.attachEvent)  {     // fallback for IE8 and ear

[2018-03-07 16:17] shreyateeza commented on #250
I am working on this issue.

[2018-03-07 16:17] AnkitKhatri55555 opened #253 "No images have defined sizes."
Description

No images have defined sizes.
Add width and height attributes to all image tags. The width and height you specify should be the same as the source image. If you want to resize an image in the browser, use CSS.

Acceptance Criteria
Above File should be modified accordingly
Definition of Done
Sending a PR, along with a screenshot and getting it reviewed by mentor(s).

Estimation
5-10 mi

[2018-03-07 16:18] shreyateeza commented on #248
I am working on this issue.

[2018-03-07 16:18] AnkitKhatri55555 opened #254 "This website returns page content with or without a trailing slash on the URLs"
Description
This website returns page content with or without a trailing slash on the URLs. Search engines might see these as separate pages with duplicate content which they could penalise for. Close recommendations
Use a 301 redirect or a canonical meta tag to force search engines to see the correct version.

Acceptance Criteria
Above File should be modified accordingly
Definition of Done
Sendin

[2018-03-07 16:19] AnkitKhatri55555 opened #255 "Meta description tag for better search results"
Description
All pages include at least some metadata, but no pages have a description meta tag. The description meta data is important as it appears on Google's search result pages. Close recommendations
Make sure that all the pages of this website include a meta description. If you don't include one, Google will choose a sample of text from the page to appear in the search engine result. By inclu

[2018-03-08 16:31] AnkitKhatri55555 opened #256 "5 CSS properties are overridden by shorthands"
**Description:**

5 CSS properties are overridden by shorthands.
When a property is used 2 times within a CSS rule, the second one overrides the first.
CSS provides some shorthand properties, that can leads to some mistakes.

The following files include a property overriden by a shortand property:

main h3: "padding" resets "padding-top" property set earlier (line 3508, col 1)
main h3: "padding" r

[2018-03-08 16:34] AnkitKhatri55555 opened #257 "Use HTTPS to collect sensitive data"
**Description**:
This page specifies some input to collect passwords or credit card information. Thus a secure connection must be there.

How to set up the HTTPS protocol
One has to set up a certificate he got from a reliable certification authority. Learn more by contacting the website host who can help one getting this certificate.

A free certificate? Try Let's Encrypt!
Let's Encrypt is a free,

[2018-03-08 16:36] AnkitKhatri55555 opened #258 "1 image is resized on browser side"
**Description**:

1 image is resized on browser side
Images must not be delivered larger than they are actually displayed to avoid loading unnecessary data.

Resizing images explained
Resizing images on browser side to reduce their rendering size is not recommended.

For instance, if your image is set to render at 300px by 300px on a particular page, don't upload the original 1000px by 1000px vers

[2018-03-12 12:04] AnkitKhatri55555 opened #259 "The (x) close is not working when user tries to close the error messages displayed."
**Description**:
The (x) close is not working when user tries to close the error messages displayed.
For the user, the button should be working properly so that the user can close the error messages box.

**Mocks**
![screen shot 1939-12-21 at 5 32 06 pm](https://user-images.githubusercontent.com/36541665/37282729-80ea2580-261b-11e8-9797-907a1e4f2199.png)

**Acceptance criteria:**
The code should b

[2018-03-13 04:58] AnkitKhatri55555 commented on #248
@MeepyMay , can i work on this?

[2018-03-13 04:59] AnkitKhatri55555 commented on #250
@MeepyMay , can i work on this?

[2018-03-13 04:59] AnkitKhatri55555 commented on #251
@MeepyMay , can i work on this?

[2018-03-13 06:05] Rupinderwadali commented on #248
yes @AnkitKhatri55555 you can work on it.

[2018-03-13 06:07] Rupinderwadali commented on #259
Yes, we either need to remove the cross button or make it clickable.

[2018-03-13 06:21] Rupinderwadali commented on #259
@AnkitKhatri55555 do join the Systers slack channel for languagetranslator as well and pick one issue, solve it and send PR, then work on another. One issue at time.

[2018-03-14 04:22] SETIADEEPANSHU commented on #259
@AnkitKhatri55555 Are you working on this , or should I pick it ?

[2018-03-14 04:37] AnkitKhatri55555 commented on #259
I'm working on it

On Wed 14 Mar, 2018, 9:52 AM Deepanshu Setia, <notifications@github.com>
wrote:

[2018-03-14 07:55] SETIADEEPANSHU commented on #259
@AnkitKhatri55555  Can you please specify which all issues mentors have assigned to you .

[2018-03-15 11:38] AnkitKhatri55555 commented on #259
@SETIADEEPANSHU  i have been assigned #248 issue.
 there are some others on which i'll start working, once iam finished with that

[2018-03-15 11:58] AnkitKhatri55555 opened #260 "This error pops up while signing up ,Prohibited this user from being saved:"
## Description
This error pops up while signing up ,Prohibited this user from being saved:
Organization can't be blank, even after the organisation is selected.

## Mocks
![screen shot 1939-12-24 at 5 25 33 pm](https://user-images.githubusercontent.com/36541665/37461875-ef27a548-2875-11e8-8ccb-a26483d3dcfc.png)

## Acceptance Criteria
The error should be fixed.
### Update [Required]
- [ ] users/si

[2018-03-15 12:01] AnkitKhatri55555 opened #261 "No error message pops up if wrong password entered or no password entered."
## Description
No error message pops up if wrong password entered or no password entered.

## Mocks
![screen shot 1939-12-24 at 5 29 15 pm](https://user-images.githubusercontent.com/36541665/37462035-88426bc8-2876-11e8-999d-4842608d182e.png)

## Acceptance Criteria
A proper error message should be displayed.
### Update [Required]
- [ ] users/signin.html

## Definition of Done
- [ ] All of the requ

[2018-03-15 12:08] SETIADEEPANSHU commented on #23
@isuriupeksha Are you still working on this ? I am also working on this . It will be nice to have your help ! Thank you!

[2018-03-15 13:52] paavininanda commented on #261
@AnkitKhatri55555 Are you not working on the local version? I am getting a error message when either the username or password is wrong.
![screen shot 2018-03-15 at 7 21 52 pm](https://user-images.githubusercontent.com/24737071/37467411-2a02b666-2886-11e8-9a04-5daf5b168dca.png)

[2018-03-15 13:53] paavininanda commented on #260
This issue was created and closed. This exists just because the latest changes have not been yet deployed. I'd suggest you to work on your local version :)

[2018-03-15 14:07] paavininanda commented on #258
@AnkitKhatri55555 Can you please upload your image again, it seems to be missing and hence what you are trying to say is not so clear.

[2018-03-16 17:55] AnkitKhatri55555 opened #262 "There are issues in Small sized screen"
## Description
There are issues in Small sized screen. Its not responsive.The content alignment is improper on small screen.

## Acceptance Criteria
Changes should be made to add Responsiveness

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-03-16 18:00] AnkitKhatri55555 opened #263 "Readme.md file must be more descriptive"
## Description
As a user, to deploy the project locally , I need more descriptive step by step instructions with links to quick fixes on any Operating system or other alternatives which can be a work around for a particular issue.

## Acceptance Criteria
Read me file must be updated accordingly as described above.
### Update [Required]
- [ ] README.md

## Definition of Done
- [ ] All of the requir

[2018-03-18 13:32] AnkitKhatri55555 opened #265 "URI::InvalidURIError in Welcome#index"
## Description
Showing /Users/ankit/Desktop/untitled folder 3/pho/language-translation/app/views/layouts/application.html.erb where line #10 raised:

bad URI(is not URI?): file-digest:///Users/ankit/Desktop/untitled folder 3/pho/language-translation/vendor/assets/ember/development

## Mocks
![screen shot 1939-12-27 at 6 59 22 pm](https://user-images.githubusercontent.com/36541665/37566389-84f2a13a

[2018-03-19 05:29] SETIADEEPANSHU commented on #182
@prachi1210 as now we have the template , lets close this issue ! https://github.com/systers/language-translation/blob/develop/ISSUE_TEMPLATE.md

[2018-03-21 04:00] SETIADEEPANSHU commented on #232
@paavininanda @prachi1210 @Rupinderwadali @adityathiru Can you please check if this is currently a  bug , as I did not encounter this type of bug. If not , can we close this issue.

[2018-04-03 09:08] SETIADEEPANSHU opened #267 "Steps for Checking of Coverage details in Python3 missing in Readme.md"
## Description
As a developer If I run python2 specific commands "python -m SimpleHTTPServer" on python3 based machine in order to start http server and see coverage details.

## Mocks

![p3](https://user-images.githubusercontent.com/13046972/38239246-cfc9ce1e-3749-11e8-83fe-b5fffa69df7d.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] Add python3 commands to start server

## Definition of

[2018-04-20 00:30] MeepyMay opened #268 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-06-09 15:10] afreen23 commented on #268
Hey, I am working on this issue

[2018-06-09 16:06] Fenn-CS commented on #268
@afreen23 yeah go ahead... No one has claimed the issue. @ExactlyMay ps you want to change the status of this issue.

[2018-06-09 16:12] afreen23 commented on #268
How would I add sidebar until I get access to the repository? Should I start with markdown and then the sidebar will be added ?

[2018-06-09 16:14] afreen23 commented on #268
Okay I am working on this !